@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

BODY {
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    font-family: verdana,sans-serif;
    margin: 0px auto;
    width: 100%;
}

A {
    color: #3300dd;
    background-color: inherit;
    text-decoration: none;
}

A:hover {
    color: #3300dd;
    background-color: inherit;
    text-decoration: underline;
}

A:visited {
    color: #3300dd;
    background-color: inherit;
}

HR {
    border: 1px solid #999999;
    margin: 1px 0px 4px 0px;
}

#homepage {
    margin-top: 30px;
}

#homepage > div.title {
    margin: 0px auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: verdana,sans-serif;
}

#content {
    font-size: 0.72em;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    height: 100%;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
    font-family: sans-serif;
    width: 530px;
    margin: 0px auto 10px auto;
}

#login {
    margin: 0px auto;
}

#login div.information {
    font-weight: bold;
    margin: 8px 0px;
}

#login div.sreg {
    width: 260px;
    margin: 0px auto;
    text-align: left;
}

#login div.errors {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 5px 0px;
}

#login div.boxes {
    margin: 0px auto;
}

#login div.box {
    margin: 0px auto;
    width: 225px;
}

#login .label {
    float: left;
    text-align: right;
    width: 65px;
    margin: 5px 0px 2px 0px;
    padding: 0px 2px;
}

#login .input {
    float: left;
    text-align: left;
    margin: 2px 0px;
    padding: 0px;
}

#login input[type="text"] {
    width: 140px;
}

#login input[type="password"] {
    width: 140px;
}

#login input[type="submit"] {
    margin: 4px;
    width: 60px;
}

#header {
    width: 530px;
    margin: 0px auto;
    padding: 2px;
}

#header div.username {
    float: left;
}

#header div.logout {
    float: right;
    text-align: right;
}

#header div.clear {
    clear: both;
}   
    
#tabs {
    width: 532px;
    margin: 0px auto;
    padding: 0px;
    background: white;
}

#tabs > ul {
    font-size: 1em;
}

#management {
    margin: 0px;
    padding: 4px;
    font-size: 0.95em;
}

#management div.header {
    width: 470px;
    margin: 2px auto;
    font-weight: bold;
    background: #cccccc;
    padding: 2px 0px 2px 4px;
}

#management div.row {
    width: 470px;
    margin: 0px auto 8px auto;
}

#management div.header > div.username, #management div.row div.user {
    text-align: left;
    float: left;
}

#management div.header > div.is, #management div.row div.is {
    width: 90px;
    text-align: center;
    float: right;
}

#management div.header > div.clear, #management div.row div.clear {
    clear: both;
}

#management div.row > div.user {
    width: 290px;
}

#management div.row > div.user > div.username {
    float: left;
}

#management div.row > div.user > div.password {
    float: right;
}

#management div.row > div.user > div.clear {
    clear: both;
}

#management input[type="submit"] {
    margin: 4px 4px 15px 4px;
    width: 55px;
}

div.change {
    margin: 0px auto;
}

div.change > div.username {
    margin: 0px 0px 8px 0px;
    text-align: center;
}

div.change > div.username > span.username {
    font-weight: bold;
}

div.change > div.label {
    width: 95px;
    font-weight: bold;
    text-align: right;
    float: left;
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 8px 0px;
}

div.change > div.value {
    text-align: left;
    float: left;
    margin: 0px 0px 0px 6px;
}

div.change > div.value > input {
    width: 165px;
}

div.change > div.clear {
    clear: both;
}

#management div.row > div.user > div.label {
    width: 95px;
    font-weight: bold;
    text-align: right;
    float: left;
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 8px 0px;
}

#management div.row > div.user > div.value {
    text-align: left;
    float: left;
    margin: 0px 0px 0px 6px;
}

#management div.row > div.user > div.value > input {
    width: 165px;
}

#profile {
    margin: 0px;
    padding: 4px;
    font-size: 0.95em;
}

#profile div.row {
    width: 450px;
    margin: 0px auto 8px auto;
}

#profile div.row > div.label {
    width: 120px;
    padding: 3px 0px 0px 0px;
    text-align: right;
    float: left;
    font-weight: bold;
}

#profile div.row > div.value {
    margin: 0px 0px 0px 6px;
    text-align: left;
    float: left;
}

#profile div.row > div.value > input[type="text"], #profile div.row > div.value > input[type="password"] {
    width: 310px;
}

#profile div.row > div.clear {
    clear: both;
}

#profile input[type="submit"] {
    margin: 4px 4px 15px 4px;
    width: 55px;
}

#trusted {
    margin: 0px;
    padding: 4px;
    font-size: 0.95em;
}

#trusted div.select {
    padding: 0px 0px 2px 2px;
    text-align: left;
    font-size: 0.9em;
}

#trusted div.empty {
    text-align: center;
    margin-top: 20px;
}

#trusted input[type="submit"] {
    margin: 4px 4px 15px 4px;
    width: 70px;
}

#trusted div.header {
    font-weight: bold;
    background: #cccccc;
    padding: 2px 0px 2px 4px;
}

#trusted div.row {
    padding: 2px 0px 4px 0px;
}

#trusted div.header > div, #trusted div.row > div {
    margin: 0px;
    padding: 0px;
}

#trusted div.header > div.name, #trusted div.row > div.name {
    float: left;
}

#trusted div.row > div.logged {
    margin-left: 25px;
    float: left;
}

#trusted div.row > div.accessed {
    float: right;
    width: 115px;
}

#trusted div.row.highlight {
    background: #ffff99;
}

#trusted div.clear {
    clear: both;
}

div.introduction {
    padding: 0px;
    margin: 0px 2px 10px 2px;
    text-align: left;
    font-size: 0.9em;
}

